body {
    background-image: url(../public/img/fondo.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
}


.card-pokemon {
    list-style: none;
    color: black;
    background: #eceeefb0;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.pokemon-container-list {
    height: 380px;
    overflow-y: scroll;
}

/* Carousel */

.carousel-control-next,
.carousel-control-prev {
    background-color: #484e538a;
}

.carousel-indicators {
    display: none;
}

.carousel-caption {
    text-align: left;
    position: absolute;
    top: .3%;
    padding: 0;
}

.modal-header button {
    all: unset;
    background: #d9534f;
    color: white;
    padding: .5rem;
}

.sr-only {
    display: none;
}

.carousel-control-next,
.carousel-control-prev {
    width: 40px !important;
}

.carousel-caption h2 {
    font-size: 1rem;
}

/* Image - Icons*/
img {
    width: 50%;
}

svg {
    font-size: 2rem;
}

svg {
    font-size: 1.4rem;
}

/* Personalizado */
.pokeball {
    width: 23px !important;
}

.modal-body .text-center img {
    width: 70%;
}

.modal-content {
    /* background-image: url(../public/img/pokedexMovil.jpg); */
    background-position: center;
    background-size: cover;
    color: black;
}

.grid-pokemon {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: stretch;
}

/* Scroll */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888888c4;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555555b0;
}

::-webkit-scrollbar-track {
    background-color: #eceeef00;
    border-radius: 4px;
}

::-webkit-scrollbar.horizontal {
    height: 8px;
}

::-webkit-scrollbar-thumb.horizontal {
    background-color: #eceeef00;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb.horizontal:hover {
    background-color: #eceeef00;
}

::-webkit-scrollbar-track.horizontal {
    background-color: #eceeef00;
    border-radius: 4px;
}

/* Media querys */
@media (min-width: 768px) {

    li img {
        width: 100px;
    }

    svg {
        font-size: 2rem;
    }

    .pokeball {
        width: 30px;
    }

    .carousel-caption h2 {
        font-size: 1.4rem;
    }

    .grid-pokemon {
        display: grid;
        grid-template-columns: 2fr 2fr;

    }


}

@media (min-width: 820px) {
    .pokemon-container-list {
        height: 440px;
        overflow-y: scroll;
    }
}

@media (min-width: 990px) {

    .carousel-item img {
        width: 28%;
    }

    svg {
        font-size: 2rem;
    }

    .pokeball {
        width: 30px;
    }

    .carousel-caption h2 {
        font-size: 1.4rem;
    }

    .grid-pokemon {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .pokemon-container-list {
        height: 350px;
        overflow-y: scroll;
    }
}